.header{
    display: grid;
    grid-template-columns: 15em 1fr 15em;
    border-bottom: solid 2px black;
}

.time-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-middle-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-left-container{
    padding-left: 2em;
}