body {
  background-color: #7a7575;
}

.app-body{
  display: grid;
  grid-template-columns: 10em 1fr;
}


/* TEXT */

.text-01{
  color: white
}

.MuiFormControl-root *{
  color: white !important;
  border-color: white !important;
}